.lc-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lc-item {
  padding: 0 1em;
  position: relative;
}

.lc-item::before {
  content: "";
  background-color: gray;
  width: 1px;
  height: 15px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.lc-item:last-child::before {
  display: none;
}

.lc-item span {
  cursor: pointer;
}

.lc-item.active span{
  color: #de4500;
}